
* {
    font-family: 'Indie Flower', cursive;
    color: white;
    background-color: black;
    text-align: center;
}

body {
    width: 80%;
    margin: auto;
}

.main-title {
    font-size: 80px;
    text-shadow: 4px 4px 8px #800000;
    margin-bottom: 0px;
}

.post-heading {
    display: flex;
    flex-wrap: wrap;
}

.post-title,
.post-date,
.post-author {
    width: 33.33%;
    text-align: left;
}

.post-title {
    font-size:30px;
    text-shadow: 2px 2px 4px #800000;
}

.post-date,
.post-author {
  position: relative;
  top: 16px;
  height: 6px;
  text-align: right;
}

.post-content {
  text-align: left;
}

.register {
    font-size: 20px;
}

table {
    margin-left: 30%;
}

h4 {
    font-size:30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h5 {
    font-size: 20px;
}

input,
textarea {
    background-color: #800000;
    font-size: 20px;
    text-align: left;
}

#submit {
    text-align: center;
    width: 100px;
    margin: 10px auto;
}


.function {
    color: #800000;
    text-decoration: none;
}

.comment {
    width: 80vw;
    font-size: 15px;
}

#submit_main {
    width: 50px;
    text-align: left;
}




