{% extends "base.html" %}

{% block content %}
    <br><br>
    <h4> Please edit in the below area </h4>
    <form method="post">
        <label>
            <h4>subject</h4>
            <input type="text" name="subject" value="{{subject}}" size="70">
        </label>
        <label>
            <h4>blog</h4>
            <textarea name="blog" cols="70" rows="10"> {{blog}} </textarea>
        </label>
        <div class="error">{{error}}</div>
        <input id="submit" type="submit" style="display: block">
        <a href="/blog" id="back">Back</a>
    </form>
{% endblock %}