{% extends "base.html" %}

{% block content %}
    <div class="register">
        <a href="/blog/signup" class="function">
            Signup  &nbsp &nbsp &nbsp
        </a>
        <a href="/blog/login" class="function">
            Login  &nbsp &nbsp &nbsp
        </a>
        <a href="/blog/logout" class="function">
            Logout
        </a>
    </div>
    <br><br>
    {% for b in blogs %}
        {{b.render() | safe}}
        <br><br>
        <form action="/blog/newcomment/{{b.key().id()}}">
            <label>
                <h5>Comment</h5>
                <textarea class="comment" rows="2"> {{comment}} </textarea>
            </label>
            <input id="submit" type="submit">
        </form>
        <br><br>
    {% endfor %}
{% endblock %}



